<h3>{{ name }}</h3>
<dl>
    <dt>Nombre:</dt>
    <dd>{{ name }}</dd>

    <dt>Edad:</dt>
    <dl>{{ age }}</dl>

    <dt>Metodo:</dt>
    <dl>{{ getDescription() }}</dl>

    <dt>Capitalizado</dt>
    <dl>{{ capitalizedName }}</dl>
</dl>

<button
    *ngIf="name !== 'Peter Parker'"
    class="btn btn-primary mx-2"
    (click)="changeHeroName()">
    Cambiar nombre
</button>
<button
    class="btn btn-danger mx-2"
    (click)="reset()">
    Reset
</button>
<button
    class="btn btn-primary mx-2"
    (click)="changeHeroAge()">
    Cambiar Edad
</button>

<hr>

