<ul class="list-group">
    <li
        *ngFor="
            let character of characterList;
            let i = index;
            let last = last;
            let odd = odd;
            let even = even;
            let first = first
        "
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        [ngClass]="{
            'list-group-item-dark': even,
            'list-group-item-light': odd
        }">
        <div>
            <span class="text-primary">{{ i + 1 }}.</span>
            <span> {{ character.name }} - </span>
            <strong> Power: </strong>
            <span [style.color]="character.power > 9000 ? 'red' : 'black'">
                {{ character.power }}
            </span>
            <span *ngIf="character.power > 9000"> - Saiyan Level</span>
        </div>

        <button
            class="btn btn-danger text-light"
            (click)="onDeleteCharacter(character.id)">
            X
        </button>
    </li>
</ul>
